rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /imaginations/{doc} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['idea','tag','ts'])
                    && request.resource.data.idea is string
                    && request.resource.data.idea.size() > 0
                    && request.resource.data.idea.size() < 500;
    }
  }
}
